.button {
    background-color: #7d1e6a;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.3s;
}
